extends layout

block content
  .card
    .card-header
      h1 Hello I am Daniyal Alam!
      h2 Welcome to My Node Server!
    .card-body
      p Thank you for visiting My Node server. I am delighted to have you here!
      p This server is designed to provide you with a seamless experience and meet your needs. Feel free to explore and make the most of our services.
      p If you have any questions or require assistance, please don't hesitate to reach out. Our team is always ready to help you.
    .card-footer
      p Enjoy your time on our Node server and have a fantastic day!
