extends layout

block styles
  style.
    .card {
      width: 400px;
      margin: 0 auto;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      padding: 20px;
    }
    
    .card-header {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .card-body {
      margin-bottom: 20px;
    }
    
    .card-footer {
      text-align: center;
    }

block content
  .card
    .card-header
      h1 Hello I am Daniyal Alam!
      h2 Welcome to My Node Server!
    .card-body
      p Thank you for visiting our Node server. I am delighted to have you here!
      p This server is designed to provide you with a seamless experience and meet your needs. Feel free to explore and make the most of our services.
      p If you have any questions or require assistance, please don't hesitate to reach out. I am always ready to help you.
    .card-footer
      p Enjoy your time on My Node server and have a fantastic day!
